:root{
 --white:#FFFFFF;   
 --black:#000000;   
 --light-black :#212121;
 --brand-color-blue:#2196F3;
 --gray:#757575;
 --footer-white:rgba(255, 255, 255, 0.6);
}

body{
    font-family: "Roboto",Verdana, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;

}

.list{
    list-style: none;
}
.link{
    text-decoration: none;
}
/*------------ HEADER----------*/
.header{
    background: var(--white);
}
.logo{
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: calc(31/26);


letter-spacing: 0.03em;

color: var(--brand-color-blue);
}
.logo-header{
    color: var(--black);
}

.stydia{
    font-weight: 500;
font-size: 14px;
line-height:calc(16/14);
letter-spacing: 0.02em;

color: var(--brand-color-blue);
}
.sait{
    font-weight: 500;
font-size: 14px;
line-height: calc(16/14);
letter-spacing: 0.02em;

color: var(--light-black);
}
.link:hover, .link:focus{
  color: var(--brand-color-blue); 
}
.header-mail{
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: var(--gray);

}


.header-tel{
    font-weight: 500;
font-size: 14px;
line-height: calc(16/14);
letter-spacing: 0.02em;

color: var(--gray);
}


/*----hero----*/
.hero-btn{
    font-family: inherit;

font-weight: 700;
font-size: 16px;
line-height: calc(30/16);
cursor: pointer;
/* identical to box height, or 188% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

color: var(--white);
background-color: var(--brand-color-blue);
border-radius: 4px;
}

.hero{
    background-color: var(--black);
}
.hero-title{
    font-weight: 900;
font-size: 44px;
line-height: calc(60/44);


text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: var(--white);
}

.info{
    font-weight: 700;
font-size: 14px;
line-height: calc(16/14);
letter-spacing: 0.03em;
text-transform: uppercase;

color: var(--light-black);
}
.hero-info{
    font-weight: 400;
font-size: 14px;
line-height: calc(24/14);
letter-spacing: 0.03em;

color: var(--gray);
}
/*--about--*/
.about-doing{
    font-weight: 700;
font-size: 36px;
line-height: calc(42/36);
text-align: center;
letter-spacing: 0.03em;

color: var(--light-black);
}
/*--Compani--*/
.compani{
    font-weight: 700;
font-size: 36px;
line-height: calc(42/36);
text-align: center;
letter-spacing: 0.03em;

color: var(--light-black);
}
.people{
    font-weight: 500;
font-size: 16px;
line-height: calc(19/16);
text-align: center;
letter-spacing: 0.03em;

color: var(--light-black);
}
.profession{
    font-weight: 400;
font-size: 16px;
line-height: calc(19/16);
text-align: center;
letter-spacing: 0.03em;

color: var(--gray);
}

/*--Footer--*/
.footer{
    background: #2F303A;
}
.maps{
    font-style: normal;
    font-weight: 400;
font-size: 14px;
line-height: calc(24/14);
letter-spacing: 0.03em;
color:var(--white);
}
.mailto{
    font-style: normal;

    font-weight: 400;
font-size: 14px;
line-height: calc(24/14);
letter-spacing: 0.03em;
color: var(--footer-white);
}
.tel{
    font-style: normal;

    font-weight: 400;
font-size: 14px;
line-height: calc(24/14);
letter-spacing: 0.03em;
color: var(--footer-white);
}
/*--button--*/
.btn-portfolios:hover{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    
    letter-spacing: 0.03em;
    
    color: var(--white);
    background-color: var(--brand-color-blue);

}
.btn-portfolios{
    font-family: inherit;
    font-weight: 500;
font-size: 16px;
line-height: calc(26/16);
letter-spacing: 0.03em;
color: var(--light-black);
}
/*--Foto--*/
.veb{
    font-weight: 700;
font-size: 18px;
line-height: calc(36/18);
letter-spacing: 0.06em;
color: var(--light-black);
}
.progect{
    font-weight: 400;
font-size: 16px;
line-height: calc(30/16);
letter-spacing: 0.03em;
color:var(--gray);
}
.logo-footer{
    color: var(--white);
}